body {
    background-color: #160f0f;
    color: #d8cfd5;
    font-family: monospace;
    font-size: 16pt;
}

code {
    color: #908890;
}

/* Special styling for external links. */
a[href*='//'] {
    color:#ff85aa;
}

/* Logically, all other links are internal. */
a {
    color:#60bf88;
}

/* Styling for all links. */
a:hover {
    filter: brightness(80%);
}
